@media (max-width: 1250px) {
    #top-div {
      flex-direction: column;
      height: 100%;
      text-align: center;
      align-items: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }
}

/**************  service selection  ****************/

.service-selection h1{
    margin-top: 150px;
    text-align: center;
}

/********************* card ************************/

.card-container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    gap: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 280px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 2px #56493E;
    cursor: pointer;
}

.card:hover {
    color: #ffffff;
    border-color: transparent;
    background-color: #A18772;
    box-shadow: 0 4px 10px #00000033;
    transition: .3s;
}

.card h3 {
    text-align: center;
    font-size: 25px;
}

.card.selected {
    background-color: #A18772;
    border: none;
    color: #ffffff;
}

.card .list-item {
    font-size: 16px;
}

.card ul {
    padding-inline-start: 28px;
}

.card li {
    padding-bottom: .5rem;
}

/**************  Plan selection  ****************/

.plan-selection{
    display: none;
}

.plan-selection h1{
    text-align: center;
}

.plan-selection .card {
    flex-direction: column;
}

.plan-selection.selected{
    display: flex;
    flex-direction: column;
}


/************* booking form ****************/

.booking-form {
    display: none;
}

.booking-form form{
    display: flex;
    flex-direction: column;
}

.booking-form.selected {
    display: flex;
    justify-content: center;
}

input, select {
    border-radius: 8px;
    border: solid 2px #A18772;
    color: #A18772;
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
}

input {
    width: 400px;
    height: 40px;
}

input[type="date"], input[type="time"] {
    width: 404px;
    height: 46px;
}

select {
    width: 408px;
    height: 46px;
    margin-bottom: 25px;
}

input::placeholder {
    color: #A18772;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

input:focus {
    background-color: #F5E1D2;
    outline: #56493E;
    color: #56493E;
}

.input-group-wrapper {
    display: flex;
    flex-direction: column;
}

.frequency {
    display: none;
}

.frequency.regular {
    display: inherit;
}

.duration.short option[data-duration="short"]{
    display: inherit;
}

.duration.short option[data-duration="long"]{
    display: none;
}

.duration.long option[data-duration="long"]{
    display: inherit;
}

.duration.long option[data-duration="short"]{
    display: none;
}

.reminder {
    width: 400px;
    text-align: center;
}

#send-btn {
    font-weight: 700;
    font-size: 25px;
    border-radius: 6px;
    color: white;
    background-color: #56493E;
    border: none;
    width: 408px;
    height: 60px;
    margin-bottom: 100px;
}

#send-btn:hover {
    background-color: #A18772;
    transition: .3s;
}

.success-msg {
    width: 700px;
    text-align: center;
    margin: 200px auto 300px;
}