@media (max-width: 1250px) {
    #top-div {
      flex-direction: column;
      height: 100%;
      text-align: center;
      align-items: center;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }
  }


#center {
    text-align: center;
    padding: 250px 0 300px;
}

/**************  service selection  ****************/
.service-selection h1{
    margin-top: 150px;
    text-align: center;
}

/***********************************************/

#section {
    margin: 100px 0;
}

/* #plan-choice, */
.card-container{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    gap: 50px;
}

/* #plan-heading {
    visibility: hidden;
} */

/* #plan-choice.pet-sitting,
#plan-choice.dog-walking,
#plan-choice.pets-grooming {
    display: none;
} */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 280px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 2px #56493E;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 10px #00000033;
}

.card h3 {
    text-align: center;
    font-size: 25px;
}

.card.active {
/* .action-card { */
    background-color: #A18772;
    border: none;
    color: #ffffff;
    width: 264px;
    height: 284px;
}

/**************  Plan selection  ****************/
.plan-selection, .plan-selection .card-container{
    display: none;
}

.plan-selection h1{
    text-align: center;
}

.plan-selection .card {
    flex-direction: column;
}

.plan-selection.selected{
    display: block;
}

.plan-selection .card-container.selected{
    display: flex;
}

/***********************************************/

/* #plan-choice .text-box,
.card-container .text-box {
    width: 200px;
    margin: auto;
} */

.list-item {
    font-size: 20px;
}


/*************Form****************/

/* .choice-heading {
    text-align: center;
} */

#booking-form {
    display: flex;
    justify-content: center;
}

#booking-form.pet-sitting,
#booking-form.dog-walking,
#booking-form.pets-grooming,
#booking-form.pets-ride {
    /* display: none; */
}

#booking-form li {
    list-style-type: none;
    padding-bottom: 5px;
}

input {
    border-radius: 8px;
    width: 400px;
    height: 40px;
    border: solid 2px #A18772;
}

input::placeholder {
    color: #A18772;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

input:focus {
    background-color: #F5E1D2;
    outline: #56493E;
    color: #56493E;
}


.date,
.time {
    width: 404px;
    height: 46px;
    padding-left: 0;
    color: #A18772;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

.frequency,
.location,
.duration {
    color: #A18772;
    border-radius: 8px;
    border: solid 2px;
    width: 408px;
    height: 46px;
    margin-bottom: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}

.reminder {
    width: 400px;
    text-align: center;
}

#send-btn {
    font-weight: 700;
    font-size: 25px;
    border-radius: 6px;
    color: white;
    background-color: #56493E;
    border: none;
    width: 408px;
    height: 60px;
    margin-bottom: 100px;
}

#send-btn:hover {
    background-color: #A18772;
}

.success-msg {
    width: 700px;
    text-align: center;
    margin: 200px auto 300px;
}