
@media (max-width: 1250px) {
    #top-div,
    .row-1 {
      flex-direction: column;
      height: 100%;
      text-align: center;
      align-items: center;
    }

    .price-card {
        padding: 20px 0;
    }
  }

#section {
    display: flex;
    align-items: center;
    margin: 100px 0;
    
}

/***************Considerations****************/

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 150px;
}

.number {
    flex: 1;
    font-size: 200px;
    font-weight: 900;
}

.text-box {
    margin: 75px;
}

#consideration h3 {
    font-size: 30px;
}

.card {
    
    display: flex;
    width: 400px;
    height: 450px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}

.pink-1 {
    background-color: #FEDDC2;
}

.pink-2 {
    background-color: #F5E1D2;
}

.yellow-1 {
    background-color: #FFF6BD;
}

.yellow-2 {
    background-color: #F7EFC0;    
}

.green-1 {
    background-color: #D9F4D3;
}

.green-2 {
    background-color: #CEEDC7;
}

#consideration i {
    width: 100px;
    font-size: 100px;
}

.number {
    color: #A18772;
    
}

/*******************Pricing***************/

.row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
  
}

.price-card {
    display: flex;
    justify-content: center;
    width: 380px;
    height: 650px;
    border: solid 3px #74BFB1;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    color: #74BFB1;
}

.action {
    border: none;
    background-color: #97DDD0;
    color: white;
}

.action.price-card {
    height: 656px;
}

.text-div {
    margin: auto;
}

.title,
.subtitle,
.price {
    text-align: center;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin: 0 0 50px;
}


li {
    margin: 20px 0;
}

.list-item {
    width: 200px;
    line-height: 30px;
    margin: auto;
}

.price {
    margin: 50px 0 100px;
}

.btn {
    float: unset;
}

.btn-div {
    display: flex;
    justify-content: center;   
}

/***********Only 1 card************/

.first {
    margin-right: 700px;
}

.second {
    margin: 0 400px;
}

.third {
    margin-left: 700px;
}
.long.text-box {
    margin: 60px 60px;
}

/******************Reviews*************/

.review-section {
    background-color: #f3eeeb;
    height: 800px;  
}

.review-section h1 {
    font-size: 30px;
    padding: 100px 0 50px;
    text-align: center;
}

.review-container {
    display: flex;
    justify-content: space-evenly;
}

.rev-card {
    height: 500px;
    width: 380px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: #32323240 0 6px 12px -2px, #0000004d 0 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
    opacity: 0.5;
    transform: scale(0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.rev-card.mouseover {
    opacity: 1;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out;
}

.rev-card ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: #ebc751;
    font-size: 30px;
}

.image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    margin-left: -25%;
}

.name-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.service-container {
    margin-bottom: 10px;
}

.rev-card p {
    line-height: 30px;
    margin: 0;
}

/* .review-form {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    text-align: start;
}

.review-form label {
    font-size: 20px;
}

.review-form select {
    border: solid 2px #A18772;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    margin: 10px 0;
    color: #A18772;
    font-family: 'Manrope', sans-serif;
}

.review-form button  {
    font-weight: 700;
    font-size: 25px;
    border-radius: 6px;
    color: white;
    background-color: #56493E;
    border: none;
    width: 300px;
    height: 60px;
}

.review-form button:hover {
    background-color: #A18772;
}

.review-form textarea {
    border: solid 2px #A18772;
    border-radius: 8px;
    width: 500px;
    height: 150px;
    margin: 10px 0;
    color: #A18772;
    font-family: 'Manrope', sans-serif;
}

.review-form select:focus, 
.review-form textarea:focus {    
    outline: #56493E;
    color: #56493E;
} */