/********************POP-UP*********************/

.popup-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000000b3;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    max-width: 600px;
    width: 100%;
    background: white;
    height: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: popup 1s ease-in-out;
}

@keyframes popup {
    0%{
      transform: scale(0.4);
    }
    50%{
      transform: scale(1.2);
    }
    100%{
      transform: scale(1);
    }
  }

.heading {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
}

#rating textarea,
#rating .submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-wrapper {
    text-align: center;
    padding: 10px 0 20px;
}

#rating i {
    font-size: 30px;
    margin: 5px;
}

.stars-reviews textarea {
    margin: auto;
    resize: none;
    height: 200px;
    width: 300px;
    border: solid 2px #c2ae9d;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    color: #56493E;
}

.stars-reviews textarea:focus {
    outline-color: #56493E;
}

.submit-btn {
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #56493E;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin: 30px auto;
}

.submit-btn:hover {
    background-color: #c2ae9d;
}

.star-input {
    display: none;
}

.star {
    color: gold;
    cursor: pointer;
}

.star-input:checked + .star ~ .star {
    color: #d4d4d4;
}

.error-container {
    display: none;
    color: #CD3232;
    font-weight: bold;
}
/*********************Profile*******************/

#profile {
    text-align: center;
    padding-top: 50px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    color: #A18772;
    margin: 0 400px;
}

.left, .right {
    width: 50%;
    margin: auto 0;
    text-align: initial;
    display: flex;
    justify-content: center;
}

.profile-element {
    display: flex;
    flex-direction: column;
}

#file {
    display: none;
}

.right label {
    cursor: pointer;
}

.right label:hover {
    color: #56493E;
}

.right input[type="submit"]:hover {
    background-color: #A18772;
}

.right input[type="submit"] {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    background-color: #56493E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/***********************Booking Table**************/

#title {
    text-align: center;
    padding-top: 100px;
    margin: 0;
}

.tables {
    margin: 50px 100px 150px;
    color: #A18772;
    display: none;
    flex-direction: column;
}

.tables h2{
    color: #56493E;
}

table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
}

td {
    padding: 5px 20px;
}

thead {
    font-size: 16px;
    font-weight: bold;
    background-color: #a29284;
    color: #ffffff;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.stars .fa-star {
    color: #d4d4d4;
    cursor: pointer;
}

/* .stars {
    display: flex;
    flex-direction: row-reverse;
} */

.stars .fa-star.active {
    color: #f1d133;
}

.stars .fa-star:hover, .stars .fa-star ~ .stars .fa-star:hover  {
    color: #f1d133;
    transition: .3s;
}

.no-booking {
    display: none;
}

.no-booking-content {
    display: none;
}

#no-booking {
    text-align: center;
    font-size: 25px;
    color: #A18772;
    margin: 100px auto 100px;
}

#book-btn {
    display: block;
    margin: 50px auto 200px;
}

a {
    text-decoration: none;
}

#load {
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #A18772;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    font-size: 25px;
    font-weight: bold;
    color: #A18772;
}