h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 2rem;
}

section {
    padding-top: 50px;
}

.green-btn {
    border-radius: 5px;
    font-weight: bold;
}

/********************POP-UP*********************/

.popup-overlay, 
.review-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000000b3;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    max-width: 600px;
    width: 100%;
    background: white;
    height: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: popup 1s ease-in-out;
    position: relative;
}

.review-overlay .popup {
    max-width: 400px;
    height: 400px;
}

.review-overlay .popup .heading {
    position: absolute;
    top: 30px;
}

.review-container {
    margin: 130px 70px auto;
    line-height: 30px;
}

@keyframes popup {
    0%{
      transform: scale(0.4);
    }
    50%{
      transform: scale(1.2);
    }
    100%{
      transform: scale(1);
    }
  }

.fa-xmark {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.fa-xmark:hover {
    color: #c2ae9d;
    transition: .3s;
}

.heading {
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
}

#rating textarea,
#rating .submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-wrapper {
    text-align: center;
    padding: 10px 0 20px;
}

#rating i {
    font-size: 30px;
    margin: 5px;
}

.stars-reviews textarea {
    margin: auto;
    resize: none;
    height: 200px;
    width: 300px;
    border: solid 2px #c2ae9d;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    color: #56493E;
}

.stars-reviews textarea:focus {
    outline-color: #56493E;
}

.submit-btn {
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: #56493E;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin: 30px auto;
}

.submit-btn:hover {
    background-color: #c2ae9d;
}

.star-input {
    display: none;
}

.star {
    color: gold;
    cursor: pointer;
}

.star-input:checked + .star ~ .star {
    color: #d4d4d4;
}

.error-container {
    display: none;
    color: #CD3232;
    font-weight: bold;
}

td.submitted {
    cursor: pointer;
    /* font-weight: bold ; */
}

td.submitted:hover {
    color: #c2ae9d;
}
/*********************Profile*******************/

.profile {
    display: none;
    justify-content: center;
    color: #A18772;
}

.profile .information {
    display: flex;
    flex-direction: column;
}

.profile .information span {
    color: #ae9e91;
    margin-left: 8px;
}

.profile > div:first-of-type {
    margin-right: 6rem;
}

.profile .propic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .img-overlay{
    /* size based on img */
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile .propic .button {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    background-color: #56493E;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.profile .propic .button:hover{
    background-color: #A18772;   
}

.profile .propic .button.submit{
    display: none;
}

.error-message {
    color:#CD3232;
    display: none;
}

/***********************Booking Table**************/

.tables {
    margin: 50px 0 150px;
    color: #A18772;
    display: none;
    flex-direction: column;
}

.service-title h2{
    color: #56493E;
}

.service-title h2,
.service-title p {
    margin-left: 10%;
}

table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto 30px;
}

td {
    padding: 5px 20px;
}

td[data-star-rating] {
    min-width: 110px;
}

thead {
    font-size: 16px;
    font-weight: bold;
    background-color: #a29284;
    color: #ffffff;
}

.stars {
    display: table-cell;
    gap: 5px;
}

.stars .fa-star {
    color: #d4d4d4;
    cursor: pointer;
}

.stars .fa-star.active {
    color: #f1d133;
}

.stars .fa-star.hover {
    color: #f1d133;
    transition: .3s;
}

.raiting-container {
    cursor: pointer;
}

.raiting-container:hover {
    color: #56493E;
}

.no-booking {
    display: none;
    text-align: center;
}

.no-booking-content {
    display: none;
}

#no-booking {
    text-align: center;
    font-size: 25px;
    color: #A18772;
    margin: 100px auto 100px;
}

#book-btn {
    display: block;
    margin: 50px auto 200px;
}

a {
    text-decoration: none;
}

#load {
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    display: none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #A18772;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    font-size: 25px;
    font-weight: bold;
    color: #A18772;
}